body {
    width: 450px;
}

.task {
    background-color: #aabbdd;
    padding: 2px;
    margin: 5px;
}

.task:hover {
    background-color: #99aadd;
}

.task h1 {
    font-size: medium;
    font-style: normal;
    font-weight: bold;
    text-indent: 5px; 
}

.task h2 {
    font-size: 70%;
    font-style: normal;
    font-weight: normal;
    text-indent: 0;
    margin: 5px;
}

.subtasklist {
    display: none;
    margin: 0 2px 2px 0;
    padding: 0px;
}

.subtask {
    clear: none;
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
    border-top: #ffffff solid 2px;
}

.right {
    float: right;
    margin: 2px;
    vertical-align: bottom;
}

.left {
    float: left;
    margin: 2px;
    vertical-align: bottom;
}

.subtaskgroup {
    background-color: aliceblue;
    text-indent: 5px;
    margin: 0 0px 0 8px;
    padding: 0px 0px 0px 3px;
}

.hoverable {
}

.hoverable:hover {
    background-color: #ffffd2;
}

.subtask h1 {
    font-size: small;
    font-weight: normal;
    padding: 2px 0px 2px 2px;
    margin: 0px;
}

.done {
    color: #007711;
}

.info {
    display: none;
    margin: 0px;
    padding: 0 0 0 5px;
    background-color: #F0F8FF;
}

.darkinfo {
    background-color: #e6eef5;
}

.info h2 {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    text-indent: 0px;
    padding: 2px 0px 2px 2px;
    margin: 0 0 0 8px;
}

div.progress-container {
    position: relative;
    border: 1px solid #ccc;
    width: 100px;
    margin: 2px 5px 2px 0;
    padding: 1px;
    float: right;
    background: white;

}

div.progress-container > div {
    height: 12px;
}

div.progress-label {
    font-size: x-small;
    font-weight: normal;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0px;
}

/* Percentage Colors */
.pct0 {
    background-color: #ff5050;
}

.pct5 {
    background-color: #ff5d4f;
}

.pct10 {
    background-color: #ff694e;
}

.pct15 {
    background-color: #ff764d;
}

.pct20 {
    background-color: #ff824b;
}

.pct25 {
    background-color: #ff8f4a;
}

.pct30 {
    background-color: #ff9b49;
}

.pct35 {
    background-color: #ffa848;
}

.pct40 {
    background-color: #ffb447;
}

.pct45 {
    background-color: #ffc146;
}

.pct50 {
    background-color: #ffcd45;
}

.pct55 {
    background-color: #ffda43;
}

.pct60 {
    background-color: #ffe642;
}

.pct65 {
    background-color: #fff341;
}

.pct70 {
    background-color: #ffff40;
}

.pct75 {
    background-color: #dcff48;
}

.pct80 {
    background-color: #c8ff50;
}

.pct85 {
    background-color: #b4ff58;
}

.pct90 {
    background-color: #a0ff60;
}

.pct95 {
    background-color: #8cff60;
}

.pct100 {
    background-color: #60ff60;
}
